.selectRow{
    background: rgb(185 66 66 / 15%) 0% 0% no-repeat padding-box;;
    border: none;
    color: black;
    font-weight: 700;
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.Table__itemCount {
  /* margin-top: 10px; */
  font-size: 14px;
}

.Table__pagination {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  background-color: turquoise;
}

.Table__pageButton {
  font-size: 15px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  background: rgb(185 66 66 / 15%) 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 5px;
  height: 35px;
  min-width: 35px;
  font-weight: bold;
  color: black;
  margin-left: 3px;
  margin-right: 3px;
}

.Table__pageButton:disabled {
  cursor: not-allowed;
  color: #737070;
  background-color: black;
  font-weight: normal;
}

.Table__pageButton--active {
  background: rgb(0, 111, 45);
  color: white;
  font-weight: bold;
}
.Table__visiblePagesWrapper{
    /* background-color: rgba(79, 183, 121, 0.15); */
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
button:focus {outline:0;}