.menu-col{
    background-color: turquoise;
    height: 1920px;
    width: 200px;
    position: fixed;
    padding-top: 50px;
}

.menu-col-item{
    padding: 20px;
    font-size: 20px;
    color: white;
}

.menu-col-item:hover{
    padding: 20px 20px 20px 30px;
    background-color: rgb(0, 154, 154);
    font-size: 20px;
    border-left: black solid 5px;
}

.menu-col-item-link:hover{
    text-decoration: none;
}

.menu-col-item-active{
    padding: 20px 20px 20px 30px;
    font-size: 20px;
    color: rgb(0, 68, 57);
    border-right:  black solid 5px;
}